<div
  class="relative w-full border hover:border-slate-400 focus-within:border-slate-400 duration-300 mb-2 rounded-md px-4 py-2">
  <input type="{{ isShown ? 'text' : 'password'}}" class="w-full h-5 outline-none" [formControl]="password"
    name="password" (input)="onInputChange($event)" placeholder="Check your password" #passwordField>
  <button (click)="togglePasswordVisibility()" type="button"
    class="absolute right-2 top-3 hover:text-white duration-300">
    <img src="{{ isShown ? 'assets/icons/icon-visibility-off.svg' : 'assets/icons/icon-visibility.svg' }}"
      alt="toggle visibility" class="w-5 h-5">
  </button>
</div>
